/* GENERAL */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Utility */

.container{
  width: 70%;
  margin: 0 auto;
}

/* Header-top / menu */

#header-top{
  background-color: #add8e6;
}

header #nav{
  display: flex;
  align-items: center;
  padding: 15px 0;
}

header #nav #logo,
header #nav #menu,
header #nav #login{
  background-color: #daa520;
  border: 2px dotted black;

  width: 20%;

  height: 50px; /* da levare */

  padding: 15px;
}

header #nav #menu{
  width: 60%;
  text-align: center;
}

header #nav #login{
  text-align: right;
}

/* Header-bottom / hero */

header #hero{
  background-color: #00008b;
  padding: 50px 0;
}

header #hero #hero-text{
  background-color: #ee82ee;
  width: 60%;
  margin: 0 auto;
  height: 400px; /* da rivedere */
  border: 2px dotted black;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#hero-text h1,
#hero-text p,
#hero-text button{
  background-color: aliceblue;
  border: 2px dotted black;
}

#hero-text p{
  text-align: center;
}

#hero-text button{
  margin: 5px;
  padding: 5px 15px;
}
/* FINE Header-bottom / hero */
